.Chat {
  width: 100%;
  height: 100%;
  display: flex;
  color: #ffffff;
  .left {
    width: 24rem;
    background-color: #24244f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .current-user {
      background-color: #262222;
      border-radius: 0.5rem;
      padding: 1rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      a {
        text-decoration: none;
        color: #666567;
      }
      li {
        padding: 0.6rem 1rem;
        border-radius: 0.5rem;
        background-color: #19192c;
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 3rem;
          height: 3rem;
        }
        &:hover {
          cursor: pointer;
          background-color: #513d5c;
          color: #ffffff;
        }
      }
      .selected {
        background: #4e0eff;
        color: #ffffff;
      }
    }
  }
  .right {
    flex: 1;
  }
}