.Bubble {
  padding:0.3rem 0.5rem;
  background-color: #d6c8fb;
  border-radius: 0.8rem;
  margin: 0.5rem;
  color: rgb(47, 29, 53);
  align-self: flex-start;
}
.isMe {
  padding: 0.3rem 0.5rem;
  background-color: #d6c8fb;
  border-radius: 1rem;
  align-self: flex-end;
  margin: 0.5rem;
  color: rgb(47, 29, 53);
}
